<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="38586JayLabs.Rater" Publisher="CN=63259567-5BF2-4F4F-BEE2-21C67D4F46C6" Version="1.0.0.7" />
  <Properties>
    <DisplayName>Rater</DisplayName>
    <PublisherDisplayName>JayLabs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Kelly.App.App">
      <VisualElements DisplayName="Vote Collector" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Rating app for collecting red/yellow/green votes." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#464646" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>